<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9b4a190b-cb63-4649-88d8-0a77e364b8d3" Publisher="CN=Diederik" Version="1.0.0.0" />
  <Properties>
    <DisplayName>U2UConsult.WinRT.ImageCropperSample</DisplayName>
    <PublisherDisplayName>Diederik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="U2UConsult.WinRT.ImageCropperSample.App">
      <VisualElements DisplayName="Image Cropper" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="U2UConsult WinRT Image Cropper Sample" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>